*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
    
}
body{
    background-color:  #e2e6e7;
}
.border{
    border: 2px solid transparent;
    border-radius: 5px;
}

.nav-bar{
    width: 100%;
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height:50px;
    width: 100%;
    background-image: url("amazon_logo.png");
    background-size: cover;
}
/* .nav-location{
    width: 86.69px;
    height: 50px;
} */
.loc-first{
    color: #ccc;
    font-size: 12px;
    margin-left: 35px;

}
.loc-second{
    color: #fff;
    font-size: 14px;
    margin-left: 3px;
}
.icon{
    display: flex;
    align-items: center;
}
.nav-location{
    height: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-search{
    height: 40px;
    width: 880px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    background-color: #FEBD69;

}
.search-input{
    width: 100%;
    font-size: 15px;
    border: none;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.nav-language-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 50px;
}
.nav-signin-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 50px;
}
.nav-order-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77px;
    height: 50px;
}
.nav-cart-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77px;
    height: 50px;
}
.search-icon{
    width: 45px;
    color: #131921;
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size: 18px;
}
.nav-second{
    font-size: 14px;
    font-weight: 700;
}
span{
    font-size: 12px;
}
.cart i{
    font-size: 30px;
}
.cart{
    font-size: 14px;
    font-weight: 700;
}
.pannel{
    color: #fff;

    height: 39px;
    background-color: #232F3E;
    display: flex;
    align-items: center;
    padding-left: 11px;
}
.pannel-all{
    display: flex;
}
.pannel-all i{
    margin-left: 8px;
    font-size: 18px;
}
.pannel-all p{
    
    margin-left: 5px;
    margin-right: 9px;
    font-size: 14px;
    font-weight: 700;
}

.pannel-options{
    font-size: 14px;
    padding-left: 9px;
    padding-right: 9px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.flag{
    width: 21.6px;
    height: 16.2px;
    background-image: url("flag.jpg");
    background-size: cover;
    margin-right: 5px;
}
.nav-language{
    display: flex;
    

}
.banner-section{
    width: 100%;
    height: 300px;
    background-image: url("hero_image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.banner-info{

    background-color: #f5f6f6;
    color: #0f1111;
    width: 1460px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 25px;
    font-size: 14px;

}
.banner-info a{
    text-decoration: none;
    color: #007185;
}
.shop-section{
    background-color: #e2e6e7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    border-radius: 5px;
    background-color: white;
    /* border: 2px solid black; */
    height: 385px;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 16px;
    transition: all;
    transition-delay: 11ms;
    transition-duration: 1s;
    box-shadow: transparent;

   
}


.inner-box{
    margin-left: 16px;
    margin-right: 16px;
}
.box1-img{
    width: 317.41px;
    height: 307.7px;
    background-size: 100% 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}
.inner-box p{
    color: #007185;
}


/* foooteer */

footer{
    margin-top: 10px;
}
.fooeter-panel-1{
    background-color: #37475A;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fooeter-panel-1 a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.footer-panel-2{
    height: 450px;
    width: 100%-100px;
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-left: 150px;
    padding-right: 170px;

}
.footer-panel-2 ul{
    margin-top: 30px;
}
ul p{
    font-weight: 700;
}
ul a{
    margin-top: 20px;
    font-size: 14px;
    color: #dddddd;
    display: block;
    text-decoration: none;
}

.footer-panel-3{
    height: 90px;
    width: 100%;
    background-color: #232F3E;
    border-top: 0.5px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inneer-panel-3{
    height: 70px;
    width: 1000px;
    display: flex;
}
.footer-logo{
    width: 30%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo-img{
    width: 95px;
    height: 60px;
    background-image: url("amazon_logo.png");
    background-size: 100% 100%;
}
.footer-options{
    width: 70%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.language{
    color: #d7d5d5;
    height: 34px;
    width: 115px;
    border: 1px solid #d7d5d5;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.language i{
    color: white;
}
.country{
    color: #d7d5d5;
    height: 34px;
    width: 140px;
    border: 1px solid #d7d5d5;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.currency{
    color: #d7d5d5;
    height: 34px;
    width: 150px;
    border: 1px solid #d7d5d5;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.currency i{
    color: white;
}
.footer-pannel-4{
    background-color:#131A22 ;
    color: #d7d5d5;
    height: 80px;
    padding-top: 20px;
}
.panel-4-items{
    font-size: 12px;
    text-align: center;
    margin-bottom: 3px;
}
.copyrights{
    font-size: 12px;
    text-align: center;

}
.footer-box{
    cursor: pointer;
}








/* hover transitions */
ul a:hover{
    cursor: pointer;
    text-decoration: underline white;

}
.inner-box p:hover{
    color: rgb(255, 25, 0);
    cursor: pointer;
}
.box:hover{
    background-color: #FEBD69;
    box-shadow: 2.4px 2.4px 8px 6px #f1bd78;
}
.pannel-options:hover{
    transform:scale(1.1)
}
.border:hover{
    border: 2px solid white;
}